.profile__edit {
    max-width: 24px;
    max-height: 24px;
    margin-left: 18px;
    transition: .3s ease-in;
    background: url(../../../images/EditButton.svg);
}

.profile__edit:hover {
    opacity: .6;
    transition: .3s ease-in;
}

@media screen and (max-width: 610px) {
    .profile__edit {
        background: url(../../../images/EditButton.png);
        margin-left: 10px;
        max-width: 18px;
        max-height: 18px;
    }
}