.profile__edit {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    transition: .3s ease-in;
}

.profile__edit:hover {
    opacity: .3;
    transition: .3s ease-in;
}

@media screen and (max-width: 610px) {
    .profile__edit {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}