.popup__close {
    background: url(../../../images/CloseIcon.png);
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    right: -32px;
    top: -41px;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 580px) {
   .popup__close {
    background: url(../../../images/CloseIcon1.png);
    max-width: 20px;
    max-height: 20px;
    right: 0px;
    top: -27px;
   }
}