.popup__close {
    width: 32px;
    height: 32px;
    position: relative;
    right: -429px;
    top: -11px;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 580px) {
   .popup__close {
    width: 20px;
    height: 20px;
    right: -261px;
    top: -4px;
   }
}