.popup__close {
    position: absolute;
    right: -32px;
    top: -41px;
}

@media screen and (max-width: 580px) {
   .popup__close {
    max-width: 20px;
    max-height: 20px;
    right: 0px;
    top: -27px;
   }
}