.form__data {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    outline: none;
    width: 358px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__data:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 610px) {
    .form__data {
        max-width: 238px;
    }

    .form__data:last-of-type {
        margin-bottom: 45px;
    }
}