.element__button {
    max-width: 22px;
    max-height: 19px;
    transition: .2s ease-in;
}

.element__button:hover {
    opacity: .6;
    transition: .2s ease-in;
}

.element__button:active {
    background: url(../../../images/Union.svg);
    transition: none;
    opacity: 1;
}